*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4)),url(background.jpeg);
    background-position: center;
    background-size: contain;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.navi-logo img{
    width: 130px;
}
.nav-links{
    flex: l;
}
.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.banner-title{
    margin: 20px 130px;
    color: #fff;
}
.banner-title h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.banner-title h1 span{
    color: paleturquoise
}
.photos{
    background: black;
}
.photo-wrapper .team{
    display: flex;  
    justify-content: space-between; 
}
.photo-wrapper .pic-1 .team{
    margin-bottom: 25px;
}
.photo-wrapper .pics{
    width: 30%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
}
.photo-wrapper .pics img{
    width: 95%;
    display: block;
    height: auto;
    transition: all 0.5s ease;
}
.photo-wrapper .pics:hover img{
    transform: scale(1.3,1.34);
}
.content{
    background: grey;
    background-position: ;
    display: flex;
}


